
/* Making website responsive for Mobile Phone */


@media screen and (max-width:576px) {
    .nav-items {
        display: none;
    }

    .toggle-icon {
        display: block;

    }

    .header-buttons{
        margin: 0 auto;
    }

    .header-banner-container {
        flex-direction: column;
        align-items: left;

    }

    .header-banner,
    .banner-images {
        width: 100%;
    }

    .header-container {
        padding: 12px 2px 2px 10px;
        margin-right: 10px;
    }

    .btn-primary, .btn-secondary{
        padding: 12px 23px 12px 23px;
        margin-right: 5px;
    }

    .header-banner h3 {
        font-size: 3rem;
    }

    .header-banner h3 span {
        font-size: 5rem;
    }

    .header-banner {
        margin-top: 2.2rem;
        text-align: left;

    }

    .header-banner p {
        max-width: 300px;
    }

    .habit-boxes {
        grid-template-columns: 1fr;
        gap: 50px;
        max-width: 240px;
    }

    .habit-boxes p {
        color: #ffffff80;
    }

    .main {
        margin: 0;
        width: 100%;
    }

    .run-section {
        flex-direction: column;
    }

    .run-image {
        object-fit: cover;
        max-height: 310px;
        border-radius: 12px;
        transform: scale(0.8);
    }

    .run-btn {
        display: flex;
        margin: 0 auto;
        margin-top: 30px;
    }
    
    .calculator-container {
        flex-direction: column;
        gap: 50px;
        padding-left: 10px;
    }

    .calculator-chart,
    .bmi-calculator {
        width: 100%;
        margin: auto;
        margin-top: 40px;
        text-align: left;

    }

    .bmi-calculator p {
        max-width: 100%;
    }

    input,
    .select1 {
        width: 40%;
        font-size: 0.8rem;
    }

    input p {
        font-size: 0.8rem;
    }

    .select2 {
        padding-right: 5px;
    }

    .select2 {
        width: 83%;
        font-size: 0.8rem;
    }

    .meet-section-imagebox {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-container {
        flex-direction: column;
    }

    .left,
    .middle,
    .right {
        width: 90%;
        margin: auto;

    }

    .footer hr {
        max-width: 85%;
    }
}